<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Añadir lenguaje</h4>
    <button type="button" class="btn-close" aria-label="Close"></button>
  </div>
  <form
    (ngSubmit)="addNewLenguage(languageFormData)"
    [formGroup]="languageFormData"
  >
    <div class="modal-body">
      <div class="mb-4">
        <label for="defaultNameForm">Nombre:</label>
        <!-- Nombre -->

        <input
          formControlName="nombre"
          type="name"
          id="defaultNameForm"
          class="form-control"
          placeholder="Nombre"
        />
        <span class="form-text text-danger mb-0" *ngIf="fieldIsValid('nombre')"
          >El nombre debe tener al menos 3 letras</span
        >
      </div>
      <div class="mb-4">
        <!-- Categoría -->
        <label for="defaultNameForm">Categoría:</label>

        <input
          formControlName="categoria"
          type="text"
          id="defaultCategoryForm"
          class="form-control"
          placeholder="Categoría"
          required
        />
        <span
          class="form-text text-danger mb-0"
          *ngIf="fieldIsValid('categoria')"
          >La categoría debe tener al menos 3 letras</span
        >
      </div>

      <!-- Tipo -->
      <label for="defaultNameForm">Tipo:</label>

      <select
        formControlName="tipo"
        type="number"
        id="defaultTipoForm"
        class="form-control mb-4"
        required
      >
        <option value="" disabled selected>Seleciona una opción</option>
        <option *ngFor="let tipo of tipos" value="{{ tipo.tipo }}">
          {{ tipo.tipo }}
        </option>
      </select>
      <!-- Valoración -->
      <label for="defaultNameForm">Valoración:</label>

      <select
        formControlName="valoracion"
        type="number"
        id="defaultValorationForm"
        class="form-control mb-4"
        required
      >
        <option value="" disabled selected>Seleciona una opción</option>
        <option
          *ngFor="let valoracion of valoraciones"
          value="{{ valoracion.valoracion }}"
        >
          {{ valoracion.valoracion }}
        </option>
      </select>
    </div>
    <div class="modal-footer">
      <button
        type="submit"
        class="btn btn-primary my-4"
        (click)="modal.close('Close click')"
        [disabled]="languageFormData.invalid"
      >
        Añadir
      </button>
      <button
        type="button"
        class="btn btn-danger"
        (click)="modal.close('Close click')"
      >
        Cerrar
      </button>
    </div>
  </form>
</ng-template>

<button
  pButton
  type="button"
  icon="pi pi-plus"
  label="Añadir"
  iconPos="left"
  class="p-button-info p-button-raised"
  (click)="open(content)"
></button>
