<section>
  <div class="table_header_container">
    <h5 style="width: 12%">ID</h5>
    <h5 style="width: 25%">Nombre</h5>
    <h5 style="width: 25%">Categoría</h5>
    <h5 style="width: 25%">Tipo</h5>
    <h5 style="width: 12%">Valoración</h5>
  </div>
  <div *ngFor="let language of filterLanguages" class="table_body_container">
    <p style="width: 12%">{{ language.id }}</p>
    <p style="width: 25%">{{ language.nombre }}</p>
    <p style="width: 25%">{{ language.categoria }}</p>
    <p style="width: 25%">{{ language.tipo }}</p>
    <p style="width: 12%">{{ language.valoracion }}</p>
  </div>
</section>
