.table_header_container{
  display: flex;
  gap: 2rem;
  width: 100%;
  padding: 0.5rem 2rem;
  justify-content: space-around;
  text-align: center;

}


.table_body_container{
  display: flex;
  gap: 2rem;
  width: 100%;
  padding: 0.5rem 2rem;

  justify-content: space-around;
  text-align: center;
}
