<section>
  <div class="table_header_container">
    <button
      type="button"
      class="btn btn-outline-secondary me-2"
      style="width: 12%"
    >
      ID
    </button>

    <div ngbDropdown #nameDrop="ngbDropdown" style="width: 25%">
      <button
        type="button"
        class="btn btn-outline-secondary"
        id="dropdownBasic1"
        ngbDropdownAnchor
        (focus)="nameDrop.open()"
      >
        Nombre
      </button>
      <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
        <button #nameFieldAsc ngbDropdownItem (click)="sortDataByName(true)">
          Ascendente
        </button>
        <button #nameFieldDes ngbDropdownItem (click)="sortDataByName(false)">
          Descendente
        </button>
      </div>
    </div>

    <div ngbDropdown #categoryDrop="ngbDropdown" style="width: 25%">
      <button
        type="button"
        class="btn btn-outline-secondary"
        id="dropdownBasic1"
        ngbDropdownAnchor
        (focus)="categoryDrop.open()"
      >
        Categoría
      </button>
      <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
        <button
          #categoryFieldAsc
          ngbDropdownItem
          (click)="sortDataByCategory(true)"
        >
          Ascendente
        </button>
        <button
          #categoryFieldDes
          ngbDropdownItem
          (click)="sortDataByCategory(false)"
        >
          Descendente
        </button>
      </div>
    </div>
    <div ngbDropdown #typeDrop="ngbDropdown" style="width: 25%">
      <button
        type="button"
        class="btn btn-outline-secondary"
        id="dropdownBasic1"
        ngbDropdownAnchor
        (focus)="typeDrop.open()"
      >
        Tipo
      </button>
      <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
        <button #typeFieldAsc ngbDropdownItem (click)="sortDataByType(true)">
          Ascendente
        </button>
        <button #typeFieldDes ngbDropdownItem (click)="sortDataByType(false)">
          Descendente
        </button>
      </div>
    </div>
    <div ngbDropdown #valorationDrop="ngbDropdown" style="width: 12%">
      <button
        type="button"
        class="btn btn-outline-secondary"
        id="dropdownBasic1"
        ngbDropdownAnchor
        (focus)="valorationDrop.open()"
      >
        Valoración
      </button>
      <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
        <button
          #valueFieldAsc
          ngbDropdownItem
          (click)="sortDataByValoration(true)"
        >
          Ascendente
        </button>
        <button
          #valueFieldDes
          ngbDropdownItem
          (click)="sortDataByValoration(false)"
        >
          Descendente
        </button>
      </div>
    </div>
  </div>
  <!-- El operador asyc realiza la subscripción al observable -->
  <div *ngFor="let language of languages$ | async" class="table_body_container">
    <p style="width: 12%">{{ language.id }}</p>
    <p style="width: 25%">{{ language.nombre }}</p>
    <p style="width: 25%">{{ language.categoria }}</p>
    <p style="width: 25%">{{ language.tipo }}</p>
    <p style="width: 12%">{{ language.valoracion }}</p>
  </div>
</section>
