<section class="footer_container">
  <div class="d-flex gap-4">
    <button class="btn btn-primary" type="button">10</button>
    <button class="btn btn-warning" type="button">10</button>
    <button class="btn btn-primary" type="button">10</button>
  </div>

  <div class="d-flex gap-3">
    <button class="btn btn-primary" type="button">Prev.</button>
    <button class="btn btn-warning" type="button">1</button>
    <button class="btn btn-warning" type="button">2</button>
    <button class="btn btn-warning" type="button">3</button>
    <button class="btn btn-primary" type="button">Sig.</button>
  </div>
</section>
